@model PL.Models.CoffeeView
@{
    ViewBag.Title = "Details";
}

<div class="tea_coffee_description">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>

    <p>Sort: @Model.CoffeeSort</p>
    <p>Country: @Model.MadeFromCountry.Name</p>
    <p>Price: $@Model.PriceFor100Gr</p>
    <p>Quality: @Model.Quality</p>

    <div class="details_buttons">
        @Html.ActionLink("Edit", "Edit", "Coffee", new { id = @Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", "Coffee", new { id = @Model.Id }, new { @class = "btn btn-default" })
    </div>
</div>