@model PL.Models.TeaView
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<h4>@Model.TeaSort</h4>
<h4>@Model.MadeFromCountry.Name</h4>
<h4>$@Model.PriceFor100Gr</h4>
<h4>@Model.Quality</h4>
<h4>@Model.Description</h4>

@Html.ActionLink("Edit", "Edit", "Tea", new { id = @Model.Id }, new { @class = "btn btn-default" })
@Html.ActionLink("Delete", "Delete", "Tea", new { id = @Model.Id }, new { @class = "btn btn-default" })